
/*for testing*/
* {
  /*border: 1px dotted green;*/
}

/*index header css*/
.twf-header {
  margin-bottom: 30px;
}
.header-title {
  margin: 30px 0;
}

/*stats css*/
.stats-btn {
  padding: 30px 20px !important;
}
.stats-chart-view {
  height: 400px;
}

/*/trivia/play css*/
.play-trivia-view {
  padding: 20px 0;
  border-radius: 4px;
}
.play-trivia-btn {
  font-size: 24px;
  padding: 12px 12px;
  margin: 20px;
}
.play-trivia-row {
  margin: 15px 0;
}
.play-trivia-question-panel {
  box-shadow: none;
}
.play-trivia-question-txt {
  line-height: 180%;
  margin: 0;
}
.play-trivia-answer-input {
  letter-spacing: 1px;
  font-size: 18px;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

/*trivia endgame css*/
.endgame-summary-col {
  margin-top: 50px;
}
.endgame-summary-table {
  margin: 10px 0;
  font-size: 16px;
}

/*/signin and /signout css*/
.signin-margin, .signup-margin {
  margin: 5px 0;
}

/*profile css*/
.profile-user-info {
  padding-left: 30px;
  font-size: 14px;
}
.profile-user-header {
  margin-top: 10px;
}
.profile-user-table {
  font-size: 16px;
}

/*utility css*/
.pointer {
  cursor: pointer;
}


.answer-btn {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  display: block;
  white-space: normal;
}

.answer-btn:first-of-type {
  margin-top: 0px;
}

hr {
  border-top: 5px solid #596a7b;
}

.btn:not([class*=btn-]):hover, .btn-default:hover, .btn-flat:not(.btn-link):hover, .btn:not([class*=btn-]).active, .btn-default.active, .btn-flat:not(.btn-link).active {
  background-color: #009688;
  color: white;
}

/*.btn {
  display: block;
  white-space: normal;
}
*/
