<div ng-controller="TriviaController">
  <div class="play-trivia-view col-xs-6 col-xs-offset-3">

    <div class="col-xs-12">

      <div class="row">
        <div class="col-xs-12 text-center">
          <h1>Winner is {{winner[0]}} with a Score of {{winner[1]}}!</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-default btn-raised btn-material-teal play-trivia-btn text-center"
            ui-sref="trivia"
            ui-sref-opts="{reload: true}"
            ng-init="clicked=false"
            ng-click="clicked=!clicked"
            ng-show="clicked===false">
            Play again?
          </a>
        </div>
      </div>

      <!-- game summary -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <div class="row">
            <div class="endgame-summary-col col-xs-6 col-xs-offset-3">

              <span class="lead">Your Game Summary</span>
              <table class="endgame-summary-table table table-hover text-left">
                <tr>
                  <td class="col-xs-8">
                    XP Earned:
                  </td>
                  <td class="text-right">
                    {{score}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Questions Answered:
                  </td>
                  <td class="text-right">
                    {{answered}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Correct Answers:
                  </td>
                  <td class="text-right">
                    {{correct}}
                  </td>
                </tr>

                <tr>
                  <td>
                    Correct Streak:
                  </td>
                  <td class="text-right">
                    {{correctStreak}}
                  </td>
                </tr>

              </table>

            </div>
          </div>
        </div>
      </div>


    </div>

  </div>
</div>
